[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "boundingbox"]
	path = boundingbox
	url = https://github.com/stomperusa/boundingbox
